@import "mixins";
@import "vars";

@include main;

section {
  padding: 2em 7em;
  text-align: center;
  @include clearfix;
}

h2 {
  color: $color-titles;
  background-color: $color-font;
  width: 30%;
  padding: 0.5em;
  margin: 0 auto;
}

nav {
  background-color: $color-red;
  width: 100%;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5em 1.5em;
      &:hover {
        background-color: #fff;
        a {
          color: $color-red;
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

main {
  padding: 0 2em;
  background-image: url("../slike/main_background.jpg");
  background-size: 100% 100%;
  height: 100vh;
  position: relative;

  #logo {
    background-color: $color-red;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 2em;
  }
}

h1,
h2,
h3 {
  font-family: "Staatliches";
  font-weight: normal;
}

h1 {
  color: $color-titles;
  text-transform: uppercase;
  font-size: 4em;
}

h3 {
  color: #fff;
}

.intro-text {
  position: absolute;
  left: 2em;
  bottom: 15%;
}

.container {
  margin: 2em auto;
  @include clearfix;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key-box {
  background-image: url("../slike/key.png");
  background-size: 100% 100%;
  background-color: $color-red;
  flex-basis: 13.5%;
  height: 100px;
  margin-left: 0.5em;
  margin-top: 0.5em;

  p {
    display: none;
  }

  &:hover {
    background-image: none;
    flex-basis: 27%;
    border-left: 4em solid #000;
    cursor: pointer;

    p {
      display: block;
      font-size: 4.5em;
      color: #fff;
    }
  }
}

#testimonials {
  background-color: $color-gray;

  p {
    margin: 2.5em 0;
    text-align: justify;
    column-count: 3;
  }
}

#contact,
.map {
  margin-top: 2em;
}

#contact {
  float: left;
  width: 49%;
  text-align: left;
}

form {
  padding: 1em;
  background-color: $color-gray;
  border-radius: 3px;
  width: 80%;

  input,
  textarea,
  select,
  #submit {
    padding: 0.3em;
    border-radius: 3px;
    border: none;
  }
  select {
    width: 13%;
  }
  #name {
    width: 41%;
  }
  #email,
  textarea,
  #submit {
    margin-top: 1em;
    width: 96%;
  }

  #submit {
    background-color: $color-red;
    color: #fff;
  }
}

.map {
  float: right;
  width: 50%;
  text-align: right;

  iframe {
    width: 70%;
  }
}

footer {
  background-color: $color-red;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.btn {
  padding: 1em;
  color: #fff;
  background-color: $color-red;
  text-decoration: none;
  display: none;
  width: 20%;
  margin: 0 auto;
}

@media only screen and (max-width: 890px) {
    h2{
        width: 40%;
    }
  main {
    padding: 0;

    #logo {
      right: 0;
    }
  }

  .intro-text {
    text-align: center;
    top: 60%;
    width: 100%;
  }

  #testimonials {
      p{
          display: none;
      }
      .btn{
          margin-top: 3em;
        display: block;
      }
  }

  #contact, .map{
      width: 100%;
      text-align: center;
  }

  form{
      width: 100%;
  }
}
